<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

</head>

<body>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">accept rules and regulations</label>
        </div>
        <div style="display:none; " id="div1"><button type="submit" class="btn btn-primary">Submit</button></div>

    </form>

    <script>
        $('#exampleCheck1').click(function() {
            $('#div1').toggle()
        })
    </script>




















    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laudantium asperiores esse doloremque exercitationem magni sit consequuntur sapiente rerum alias molestias deserunt assumenda iure perspiciatis iste, fugiat quod accusantium aspernatur.</p>
    <button id="cl">click</button> -->
    <!-- <button id="shw">show</button> -->



    <!-- <script>
        $('#cl').click(function() {
            $('p').hide()
        })

        $('#shw').click(function() {
            $('p').show()
        })
    </script> -->
    <!-- <script>
        $('#cl').click(function() {
            $('p').toggle()
        })
    </script> -->
    <!-- <br> -->

    <!-- <input type="text" id="n1">
    <input type="text" id="n2">
    <button>click</button>
    <script>
        n1 = Number($('n1').val)
        alert(n1s)
    </script> -->




</body>


</html>